/*De kleuren van mijn website*/
:root {
  --color-green: #0ef280;
  --color-blue: #29a19f;
  --color-black: #000000;
  --color-yellow: #fff200;
  --color-white: #ffffff00;   
  --color-red: #ff4800; 
}
/**/  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*achtergrondafbeelding */
body {
  /*De manier waarop iets wordt weergegeven op je site. sans-serif zorgt voor een simpele maar moderne look*/
  font-family: sans-serif;
  /*Hij start linksboven.*/
  background-position: left top;
  /*De afbeelding die verschijnt op de achtergrond.*/
  background-image: url("/Afbeeldingen/achtergrond.jpg");
  /*Hij is vast op de achtergrond. Dus er kan niks achter en de afbeelding verplaatst niet als er tekst komt.*/
  background-attachment: fixed;
}
  
/*drop down menu*/
.menu-bar {
  /*Dit bepaalt de achtergrond kleur*/
  background-color: var(--color-yellow);
  /*Bepaald hoe hoog de menu bar is. In dit geval 80 pixels*/
  height: 80px;
  /*De breedte is 100% van de pagina*/
  width: 100%;
  /*De tekst past zich aan aan het menu, zodat het genoeg ruimte heeft*/
  display: flex;
  /*De tekst is gelijk verdeeld*/
  justify-content: space-between;
  /*Alles gelijk verdeelt over de menu-bar*/
  align-items: center;
  /*Er zit 5% tussen de tekst en de menu-bar*/
  padding: 0 5%;
  /*Relatie aan de rest van de tekst*/
  position: relative;
}
 
.menu-bar ul {
  /*Er staan geen tekens voor de lijst*/
  list-style: none;
  display: flex;
}
  
.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* Text in het midden */

  position: relative;
}
  
.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-black);
  /*De text is niet opgemaakt*/
  text-decoration: none;
  /*Hoelang het duurt voordat de tekst is ingekleurd*/
  transition: all 0.1s;
}
 
.menu-bar ul li a:hover {
  color: var(--color-green);
}
 
.fas {
  /*Hij is rechts gepositioneerd*/
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
  
/* Hoveren bij het menu */
.dropdown-menu {
  display: none;
}
  
.menu-bar ul li:hover .dropdown-menu {
  /*Het menu wordt in blokken weergegeven*/
  display: block;
  /*De plek verander niet als er andere tekst is.*/
  position: absolute;
  /*Het menu komt links te staan*/
  left: 0;
  /*Het menu staat helemaal bovenaan de website*/
  top: 100%;
  background-color: var(--color-blue);
}
  
.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
  
.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  /*bepaald hoeveel ruimte er zit tussen de test en het vak er omheen*/
  padding: 10px;
}
  
.dropdown-menu-1 {
  /*Het wordt gerendered alsof de rest van de pagina niet bestaat */
  display: none;
}
  
.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-red);
}
  
/*Standaard tekst*/
p {
  /*Hoe groot de letters zijn*/
  margin: 15px;
  /*Het standaard lettertype op de website*/
  font-family: "Times New Roman", Times, serif;
  /*Hoe hoog de lijnen zijn waarin de test staat*/
  line-height: 1.5;
  display: block;
  color: var(--color-black);
  /*Het inspringen van tekst bij een nieuwe alinea*/
  text-indent: 15px;
}
/* Zodat de tekst zichtbaar is op de achtergrond, een witte vak om de tekst heen */
.box {
  background-color: white;
  /*Hoe de rand van het vak er uit ziet */
  border: 5px solid white;
  /*Maakt een ronding van het tekst vak bij de hoeken*/
  border-radius: 10px;
  padding: 50px;
  margin: 50px 200px;
}
  
/*Headers*/
h1 {
  /*Maakt hoofdletter van de tekst bij h1*/
  text-transform: uppercase;
  margin: 15px;
  color: var(--color-black);
  text-decoration-color: var(--color-black);
}
  
h2 {
  /*Er komt een lijn onder tekst dat h2 is*/
  text-decoration-line: underline;
  /*De dikte van de lijn is 5% van de letter*/
  text-decoration-thickness: 5%;
  text-decoration-color: var(--color-green);
  color: var(--color-black);
  margin: 15px;
}
  
/*Footer*/
#footer {
  padding: 10px;
  text-align: center;
  background:var(--color-black);
  margin-top: 20px;
  position: relative;
  /*Het staat vrij van de rest van je tekst*/
  clear: both;
}
  /*Tekst bij de footer is wit*/
#footer p{
  color:white
}
  
/*Het logo*/
.logo {
  color: var(--color-green);
  font-size: 30px;
}
    
/*De opmaak voor de interne links, die niet bij het dropdown menu horen*/
.box a:link, a:visited {
  background-color: var(--color-black);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  /*een Blok wat in de tekst komt te staan en zich aanpast aan de tekst*/
  display: inline-block;
}
  
.box a:hover, a:active {
  background-color: var(--color-white);
  color: var(--color-black)
}